<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="elearnConnectionString" connectionString="Data Source=RAJA-PC\SQLEXPRESS;Initial Catalog=E-Learning;Persist Security Info=True;User ID=Rajesh;Password=rajesh@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <httpRuntime maxRequestLength="15000000"/>
        <compilation debug="true" targetFramework="4.0" />
      <pages maintainScrollPositionOnPostBack="true">
      </pages>
    </system.web>

</configuration>
