<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
    <pages maintainScrollPositionOnPostBack="true">
      <controls>
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="cc1"/>
      </controls>
    </pages>
	</system.web>
	<connectionStrings>
		<add name="icon" connectionString="Data Source=iconstech\SQLEXPRESS;Initial Catalog=Tshirt;Integrated Security=True" providerName="system.data.sqlclient"/>
	</connectionStrings>
</configuration>
