.top_panel {
	position:fixed;
	left:0;
	top:135px;
	overflow:hidden;
	z-index:999;
}
.btn-off {
	background-image: url(../images/settings_btn.png);
	width:38px;
	height:38px;
	display: block;
	text-indent:-9999px;
	float:left;
	background-position:0 0;
	background-repeat:no-repeat;
	border:1px #ccc solid;
	border-radius:0 3px 3px 0;
	border-left:0;
	background-color:#FFF;
	margin-left:-1px;
}
.top_panel.active .btn-off {
}
#color_schemes {
	float:left;
	background:#fff;
	width:183px;
	margin-left:-185px;
	border:1px #ccc solid;
	border-radius:0 0 3px 0;
}
#color_schemes ul {
	padding:0px 5px 15px 20px;
	margin:0;
	list-style:none;	
}
#color_schemes li {
	display:inline-block;
	margin:0 1px 5px 0;
	vertical-align:top;
}
#color_schemes a {
	width:28px;
	height:28px;
	display:block;
	text-indent:-9999px;
	border:2px #ccc solid;
}
#color_schemes a:hover {border:2px #c0c0c0 solid;
}
.orange { background:#FE7E17;
}
.blue { background:#21748C;
}
.green { background:#337D49;
}
.yellow { background:#F9A936;
}
.purpure { background:#A34670;
}
.red { background:#E1472F;
}
.bluelight { background:#37AFD7;
}
.greenlight { background:#86c305;
}
.settings {
	padding:15px 20px 10px 20px;
	margin:0;
	color:#444; 
	font-size:17px;
	line-height:20px;
}