.product_Name
{
    font-family: Calibri;
    font-size: 17px;
    color: #000000;
    text-decoration: underline;
}
.product_price
{
    font-family: calibri;
    color: #333333;
    font-size: 15px;
}

