<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages>

      <controls>

        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="cc1"/>
      </controls>
    </pages>
  </system.web>
  <connectionStrings>
    <add name="OnlineExamConnectionString" connectionString="Server=i-constech.com;Database=Biz_OutSource_To_India;User ID=biz;Password=icons123!@#;"
      providerName="System.Data.SqlClient" />
    <add name="Biz_OutSource_To_IndiaConnectionString" connectionString="Data Source=i-constech.com;Initial Catalog=Biz_OutSource_To_India;Persist Security Info=True;User ID=biz;Password=icons123!@#"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>