.PageHead
{
    font-family: Calibri;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}
.pageback
{
   
}
.pagesubtitle
{
    font-size: 17px;
    font-family: calibri;
    color: #CCCCCC;
    font-weight: bold;
}
.pagecontent
{
    font-family: calibri;
    font-size: 14px;
    color: #FFFFFF;
}