<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="Biz_OutSource_To_IndiaConnectionString" connectionString="Data Source=maj-056\sqlexpress;Initial Catalog=PhotoProcessing;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<pages maintainScrollPositionOnPostBack="true">
			<controls>
				<add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="cc1"/>
			</controls>
		</pages>
	</system.web>
</configuration>
