body{background:url(../images/body_bg.png) 0 0 repeat-x;font:normal 12px "Trebuchet MS", Arial, Helvetica, sans-serif;color:#808080}
.watermark{background:url(../images/watermark.png) center center no-repeat;margin:0 auto;display:block;position:relative}
.watermark img.blank{width:100%;height:100%;display:block;position:absolute;right:0;bottom:0px;z-index:1}
#wrapper{margin:0 auto;width:960px;min-height:580px}
#header{width:100%;padding-top:17px;height:101px;position:relative;z-index:1000}
#header .signinsection{color:#89bc23}
#header .signinsection a{color:#89bc23;font-size:12px;}
#header .signinsection a:hover{color:#000;text-decoration:none}
#logo{width:174px;height:166px;position:absolute;z-index:100}
#logo a , #logo a:hover{display:block;width:179px;height:170px;}
h1.heading{font:normal 35px "Trebuchet MS", Arial, Helvetica, sans-serif;color:#000;margin-top:34px}
ul.topnav{list-style:none;float:right;padding-top:20px;position:relative}
ul.topnav li{display:inline;float:left;height:31px;position:relative;padding-left:7px;z-index:1001}
ul.topnav li a{display:block;color:#89bc23;font-weight:bold;font-size:15px;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;text-align:left;height:33px;line-height:36px;padding:0 4px 0 3px;overflow:visible}
ul.topnav li a em{background:url(../images/arw.png) 0 8px no-repeat;padding:0 5px;margin-left:10px}
ul.topnav li:hover , ul.topnav li.active{background:url(../images/tab02.png) 0 -34px no-repeat}
ul.topnav li:hover a, ul.topnav li.active a{background:url(../images/tab02.png) 100% 0 no-repeat}
ul.topnav li ul{overflow:hidden;width:200px}
ul.topnav li ul li, ul.topnav li ul li a{width:95%;background:none;margin:0;padding:0;height:25px}
ul.topnav li ul li a{line-height:25px;height:25px;color:#000;padding-left:10px!important;margin-left:2px}
ul.topnav li ul li a:hover,ul.topnav li ul li a:hover span{background:none;color:#000}
ul.topnav li ul li a, ul.topnav li ul li:hover{background-position:100px 100px!important;color:#000}
ul.topnav li ul li a:hover{background:#d6f499!important}
ul.topnav li:hover > div.subnav{display:block}
.subnav{position:absolute;top:31px;left:0;z-index:1000;display:none}
ul.topnav li .subnav .mid04{background:url(../images/mid_bg.png) 0 0 repeat-y}
ul.topnav li .subnav .end04{background:url(../images/bottom.png) 0 0 no-repeat;height:9px;width:200px}
ul.topnav li .subnav .top01{background:url(../images/top1.png) 100% 100% no-repeat;height:6px;width:200px}
ul.topnav li .subnav .top02{background:url(../images/top2.png) 100% 100% no-repeat;height:6px;width:200px}
ul.topnav li .subnav .top03{background:url(../images/top5.png) 100% 100% no-repeat;height:6px;width:200px}
ul.topnav li .subnav .top04{background:url(../images/top4.png) 100% 100% no-repeat;height:6px;width:200px}
ul.topnav li .subnav .top05{background:url(../images/top2.png) 100% 100% no-repeat;height:6px;width:200px}
ul.topnav li .subnav .top06{background:url(../images/top6.png) 100% 100% no-repeat;height:6px;width:200px}
ul.topnav li.home:hover{background:none}
ul.topnav li.home:hover a{background:none}
.last_tab{left:-98px}
:first-child+html div.last_tab{left:-95px}
ul.topnav li .last_tab li a{text-align:right;padding-right:12px;width:170px}
ul.topnav li:hover > span{display:block}
.left{background:url(../images/last_tab.png) 100% 0 no-repeat;position:absolute;float:left;top:4px;left:0;height:33px;width:8px;z-index:1500;display:none}
.last_right{background:url(../images/last_right.png) 100% 0 no-repeat;position:absolute;float:left;top:4px;right:-4px;height:33px;width:12px;z-index:150;display:none}
ul.topnav li:hover > .right{display:block}
.right{background:url(../images/right.png) 100% 0 no-repeat;position:absolute;float:left;top:4px;right:0;height:29px;width:8px;z-index:1500;display:none}
.latest_news{left:-89px}
#maincontent{width:100%}
#footer{width:100%}
.top1, .top1 div , .end1, .end1 div{background:url(../images/sprite.gif) 0 0 no-repeat;overflow:hidden}
.top1{background-position:0 0;padding-left:12px}
.top1 div{background-position:100% -29px;height:14px}
.end1{background-position:0 -14px;padding-left:12px}
.end1 div{background-position:100% -43px;height:14px}
.bg1{background:#fff;border:1px solid #e0eaf2;border-width:0 1px}
.innercontent{width:463px;position:relative;top:60px}
.innercontent .LoremTxt{padding-top:24px;line-height:24px;font-size:14px;color:#808080;height:120px}
.innercontent .LoremTxt p{background:url(../images/arrow_.png) 0 6px no-repeat;padding-left:10px}
.innercontent .LoremTxt .margBtm{margin-bottom:15px}
.innercontent .LoremTxt a.getstarted{background:url(../images/Get_Started2.png) 0 0px no-repeat;display:block;height:36px;font:normal 21px Arial, Helvetica, sans-serif;color:#fff;line-height:37px;padding-left:25px;cursor:pointer;float:left;width:175px}
.innercontent .LoremTxt a.choose{background:url(../images/sprite.png) 0 -189px no-repeat;display:block;height:36px;font:normal 18px Arial, Helvetica, sans-serif;color:#fff;line-height:37px;padding-left:15px;cursor:pointer;float:left;width:175px}
.flashimgdiv{position:relative;z-index:10}
.illustration{width:100%}
.illustration .illust1{margin-right:0}
.illust{background:url(../images/sprite.png) 0 -639px no-repeat;display:block;width:300px;height:384px;margin-right:30px;position:relative;margin-bottom:22px}
.illust h3.title{font:normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif;color:#89bc23;padding-left:11px;line-height:39px;margin-right:0}
.illust .frame{background:url(../images/frame.png) 0 0 no-repeat;display:block;width:269px;height:205px;margin:13px auto;text-align:center;padding-top:3px}
.illust .frame1{background:url(../images/sprite.png) 0 -1256px no-repeat;display:block;width:132px;height:110px;text-align:center;padding-top:11px;margin-left:13px;margin-top:13px;margin-right:6px}
.illust .frame img{padding:2px}
.illust a.links{font:bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;color:#89bc23;text-decoration:underline;padding-left:20px;padding-bottom:7px;display:block}
.illust a.links:hover{text-decoration:none}
.illust a.readmore{font:normal 14px "Trebuchet MS", Arial, Helvetica, sans-serif;color:#89bc23;text-decoration:underline;padding-left:28px;display:block;background:url(../images/sprite.png) 0 -482px no-repeat;display:block;margin-left:15px;position:absolute;bottom:9px;left:0;height:24px;line-height:24px}
.illust a.readmore:hover{text-decoration:none}
.illust .description{width:267px;margin:0 auto;line-height:19px}
.illust .description1{width:125px;padding-top:30px;line-height:19px}
.illust .description1 a{font:bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;color:#89bc23;text-decoration:underline;padding-bottom:4px;display:block}
.illust .description1 a:hover{text-decoration:none}
.illust .description2{width:233px;margin:0 auto;line-height:19px;padding:2px 10px;text-align:justify;margin-top:13px;margin-left:19px}
.illust .description2 span.coute{background:url(../images/sprite.png) 0 -1377px no-repeat;display:block;width:18px;height:18px;float:left}
.illust .description2 span.coute1{background:url(../images/sprite.png) 0 -1410px no-repeat;display:block;width:18px;height:18px;float:left}
.illust .description3{width:254px;margin:0 auto;margin-left:17px;margin-top:34px;line-height:19px}
.illust .IndustryTxt{padding-left:14px;width:254px;margin:0 auto;margin-top:6px;padding-bottom:10px}
.illust .IndustryTxt .ClrTxt{color:#89bc23}
.illust .brdnone{border-bottom:none}
.illust .icons{width:114px;margin-left:17px;margin-right:10px;margin-top:29px;}
.illust .icons a.facebook{background:url(../images/sprite.png) 0 -371px no-repeat;display:block;float:left;width:40px;height:40px;margin-right:15px}
.illust .icons a.rss{background:url(../images/sprite.png) -55px -371px no-repeat;display:block;float:left;width:40px;height:40px}
.illust .icons a.twitter{background:url(../images/sprite.png) 0 -423px no-repeat;display:block;float:left;width:40px;height:40px;margin-right:15px}
.illust .icons a.google{background:url(../images/sprite.png) -55px -423px no-repeat;display:block;float:left;width:40px;height:40px}
.illust .icons a{margin-bottom:13px}
#footerwrap{width:100%;border-top:16px solid #ebebeb;margin-top:54px}
.footerlinks{width:967px;margin:0 auto;margin-top:34px}
.footercontainer{width:980px;margin-bottom:34px}
.footerlinks .col1{width:143px;border-right:1px dotted #9f9f9f;padding-right:5px;margin-right:15px;padding-top:7px;min-height:292px;min-height:247px}
.footerlinks .brdrht{border-right:none;padding-right:0;margin-right:0}
.footerlinks .col1 h4.subtitle{font:bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;color:#000;margin-bottom:10px}
.footerlinks .col1 .LoremTxt{color:#89bc23;line-height:22px}
.footerlinks .col1 .paymentlinks a.paypal{background:url(../images/paymethod.jpg) 0px no-repeat;display:block;width:155px;height:107px}
.footerlinks .col1 .paymentlinks a.exp{background:url(../images/sprite.png) -66px -1460px no-repeat;display:block;width:62px;height:41px;float:left}
.footerlinks .col1 .paymentlinks a.card{background:url(../images/sprite.png) 0px -1502px no-repeat;display:block;width:62px;height:41px;float:left}
.footerlinks .col1 .paymentlinks a.visa{background:url(../images/sprite.png) -66px -1502px no-repeat;display:block;width:62px;height:41px;float:left}
.footerlinks .col1 .paymentlinks .mastercard{background:url(../images/mastercard.gif) 0 0 no-repeat;width:155px;height:32px}
.footerlinks .col1 .LoremTxt a{color:#89BC23;text-decoration:underline;}
.footerlinks .col1 .LoremTxt a:hover{text-decoration:none;color:#000}
#footerwrap .footer{background:#ebebeb;height:60px;width:100%;}
#footerwrap .footer .innerlinks{width:969px;margin:0 auto;padding-top:14px}
#footerwrap .footer .innerlinks .copyright{font:normal 12px "Trebuchet MS", Arial, Helvetica, sans-serif;color:#8c8c8c;}
#footerwrap .footer .innerlinks .links1 a{font:bold 11px "Trebuchet MS", Arial, Helvetica, sans-serif;color:#89bc23;display:block;float:left;padding-right:10px;border-right:2px solid #89bc23;padding-left:10px;line-height:14px}
#footerwrap .footer .innerlinks .links1 a.brdnon{padding-right:0;border-right:none}
#footerwrap .footer .innerlinks .links1 a:hover{color:#000}
.rating{background:url(../images/sprite.png) -305px 0 no-repeat;display:block;height:40px;position:absolute;bottom:3px;right:3px;font-size:14px;color:#89bc23;font-weight:bold;z-index:100}
.rating a{background:url(../images/sprite.png) -692px 0 no-repeat;display:block;float:left;width:15px;height:18px;margin:0 7px;}
.rating a:hover, .rating a.active{background:url(../images/sprite.png) -666px 0 no-repeat}
.iner_page{padding:70px 0 15px 0;font:12px "Trebuchet MS", Arial, Helvetica, sans-serif;color:#808080;overflow:hidden}
.iner_page h2{border-bottom:1px solid #89bc23;padding:5px;color:#89bc23;font-size:22px;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;font-weight:normal;text-transform:lowercase}
.login-box label{float:left;width:121px;line-height:24px;font-size:14px;font-weight:bold;color:#808080;text-align:right;padding-right:8px}
.login-box li{overflow:hidden;clear:both;padding:0 0 10px 0;width:100%;float:left}
.login-box li input.ckdbox{position:relative; top:4px; left:0}
.login-box .selct{border:1px solid #ccc;padding:4px}
ul.login-box{padding:10px 0 0 0;overflow:hidden;}
.login-box .input01{background:#fff;border:1px solid #ccc;width:220px;padding:4px}
.login-box .forgot{color:#89bc23;text-transform:capitalize}
.login-box .forgot:hover{text-decoration:underline}
.text01{color:#808080;font-size:22px;font-weight:normal;font-family:Arial, Helvetica, sans-serif}
.login_{width:370px;margin:15px auto}
.feild{width:230px}
.red{color:#F00;font-weight:normal}
.register{width:460px;margin:15px auto}
.button{background:url(../images/button.png) 0 -30px no-repeat;padding-left:8px;float:left}
.button input{background:url(../images/button.png) 100% 0 no-repeat;border:none;color:#fff;font-weight:bold;font-size:15px;height:30px;padding:0 8px 0 0;cursor:pointer;}
.btn{background:url(../images/button.png) 0 -30px no-repeat;padding-left:8px;float:left}
.btn input{background:url(../images/button.png) 100% 0 no-repeat;border:none;color:#fff;font-weight:bold;font-size:15px;padding:4px 8px 5px 0;cursor:pointer;}
.button1{background:url(../images/button.png) 0 -30px no-repeat;padding-left:8px;color:#fff;float:left;font-weight:bold;font-size:15px;height:30px;cursor:pointer}
.button1 span{background:url(../images/button.png) 100% 0 no-repeat;padding:0px 8px 0 0;float:left;height:30px;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;line-height:30px}
.mrg_rit01{margin-right:15px}
.top2{background:url(../images/inner_box.png) 0 -28px no-repeat;padding-left:15px}
.top2 div{background:url(../images/inner_box.png) 100% 0 no-repeat;height:14px;}
.end2{background:url(../images/inner_box.png) 0 -42px no-repeat;padding-left:15px}
.end2 div{background:url(../images/inner_box.png) 100% -14px no-repeat;height:14px;}
.mid2{background:#fff;border-left:3px solid #89BC23;border-right:3px solid #89bc23;padding:0 10px;overflow:hidden}
body.inner_pagesbg{background:#ffffff url(../images/inner_pagesbg.png) 0 94px repeat-x}
.Testimonials{overflow:hidden}
.images{margin-right:15px;}
.images img{margin-right:5px}
.coments{position:relative;border:1px solid #ccc;width:375px;height:64px;padding:0 5px 0 0px}
.coments .pointer{position:absolute;top:63px;left:15px;background:url(../images/pointer.gif) 0 0 no-repeat;width:17px;height:17px}
.coments textarea{background:none;border:none;color:#808080;height:61px;margin:0;outline:none;width:375px;overflow:visible}
.name01{padding-left:38px;line-height:1.3}
.text02{padding:10px 0;font-size:16px;text-align:justify}
.testim li{float:left;padding:0 0 15px 0;margin-bottom:20px}
.mrgntop{margin-top:15px}
.mrgnrit{margin-right:15px}
.colm_rit{width:608px;padding-top:10px;padding-bottom:10px}
.login_box{padding-top:50px}
.mrgLT{margin-right:40px;padding-top:6px}
.padT{padding-top:10px}
.top3, .top3 div, .end3, .end3 div{background:url(../images/bg1.png) 0 0 no-repeat}
.top3{background-position:0 0;padding-left:14px;margin-right:10px}
.top3 div{background-position:100% 0;height:28px;margin-right:-10px}
.end3{background-position:0 -33px;padding-left:14px;margin-right:10px}
.end3 div{background-position:100% -33px;height:7px;margin-right:-10px}
.bg3{background:#fff;border:1px solid #a8a8a8;border-width:0 1px}
.top4, .top4 div, .end4, .end4 div{background:url(../images/bg1.png) 0 0 no-repeat}
.top4{background-position:0 -44px;padding-left:14px;margin-right:10px}
.top4 div{background-position:100% 0;height:23px;margin-right:-10px}
.end4{background-position:0 -73px;padding-left:14px;margin-right:10px}
.end4 div{background-position:100% -73px;height:7px;margin-right:-10px}
.bg4{background:#fff;border:1px solid #a8a8a8;border-width:0 1px}
.top5, .top5 div, .end5, .end5 div{background:url(../images/bg1.png) 0 0 no-repeat}
.top5{background-position:0 -83px;padding-left:14px;margin-right:10px}
.top5 div{background-position:100% -83px;height:7px;margin-right:-10px}
.end5{background-position:0 -97px;padding-left:14px;margin-right:10px}
.end5 div{background-position:100% -97px;height:7px;margin-right:-10px}
.bg5{background:#fff;border:1px solid #cbcbcb;border-width:0 1px}
.messageboard{width:900px;margin:0 auto;padding-top:10px}
.col_1{width:520px}
.col_2{width:350px}
.imgeview{width:100%;margin-bottom:20px}
.imgeview h3.title{font-size:14px;color:#fff;line-height:28px;}
.messagebox{width:100%}
.messagebox .inner{width:300px;margin:0 auto;padding:10px 0}
ul.list1 li{width:100%;overflow:hidden;padding-bottom:10px}
ul.list1 li .textarabg{border:1px solid #a8a8a8;width:290px;padding:4px;height:140px}
ul.list1 li .heading{font-size:16px;font-weight:bold;line-height:30px;color:#89bc23}
.privcydiv{width:570px;margin:0 auto}
.privcydiv h3.heading{font-size:24px;color:#89bc23;padding-bottom:10px}
.privcydiv .decp{width:103%;font-size:12px;color:#808080;line-height:20px;text-align:justify;padding-bottom:14px}
.privcydiv .decp h4{font-size:14px;padding-bottom:6px}
.tremshead{background:#f1e0f5;color:#89bc23;font-size:14px;padding-left:10px;height:30px;line-height:30px;font-weight:bold;width:560px}
.textcon{font-size:12px;color:#808080;line-height:20px;text-align:justify;padding:10px 0 10px 10px;width:560px}
.faqpage{width:570px;margin:0 auto}
.faqpage .faq_qesn{background:#e1f6b7 url(../images/increase2.png) 99% center no-repeat;color:#89bc23;font-size:14px;padding-left:10px;height:30px;line-height:30px;font-weight:bold;width:560px;border-bottom:1px solid #89bc23;margin-bottom:6px}
.faqpage .active{background:#E1F6B7 url(../images/increase.png) 99% center no-repeat}
.faqpage .faq_ans{font-size:12px;color:#808080;line-height:20px;text-align:justify;padding:10px 0 10px 10px;width:560px}
.Rightside{width:300px}
ul.list2 li{width:100%;padding-bottom:24px;float:left;clear:both}
ul.list2 li .imgediv{width:150px;text-align:center}
ul.list2 li .decps{width:436px;text-align:justify}
.Rightside .iner{width:280px;margin:0 auto;padding:10px 0}
.photo_retouching{font-size:18px;border-bottom:1px dashed #89bc23;line-height:34px;color:#89bc23;margin-bottom:10px;text-indent:12px}
.photo_editing{color:#000;overflow:hidden;line-height:24px;padding-bottom:30px;margin-left:12px}
.photo_editing .input_mid{border:1px solid #d5d5d5;height:18px;padding:3px}
.photo_editing .form_textarea{border:1px solid #d5d5d5;height:100px;padding:3px;width:300px;margin-bottom:10px}
h3.headings{color:#808080;font-size:20px;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;font-weight:normal;padding-bottom:10px}
.colsg{color:#89bc23;font-size:25px;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;font-weight:normal}
.colsb{color:#808080;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;font-weight:normal}
.colsbg{color:#808080;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;font-weight:normal}
.colswhit{font-size:18px;color:#fff;line-height:28px}
.Col_0L{width:500px}
.pricing{width:520px;margin-left:12px}
.pricing .imgediv{width:330px}
.pricing .datialprice{width:164px;font-size:18px;color:#000}
ul.bults{padding-top:18px}
ul.bults li{width:100%;overflow:hidden;background:url(../images/arrow.png) 0 3px no-repeat;padding-left:24px;line-height:32px;margin-bottom:8px;font:normal 16px "Trebuchet MS,Arial,Helvetica,sans-serif";color:#000;font-weight:bold;}
.seemores{padding:14px 0;}
.seemores a{font-size:18px;color:#000}
.seemores a:hover{text-decoration:underline}
.examplesT{margin:24px 0 10px 0;font-size:14px;color:#000;border:1px solid #89bc23}
.examplesT td{border-top:1px solid #89bc23;padding:3px 5px 0 5px;border-left:1px solid #89bc23}
.examplesT td:hover{background:#89bc23}
.examplesT td:hover .colsbg{color:#fff}
.examplesT th .colsg{font-size:17px}
.pricelist{width:326px;margin:0 auto;padding:10px 0;font-size:18px;color:#000}
.pricelist table{margin-bottom:20px}
.pricelist table td{height:32px;padding-left:10px;border:1px solid #FFF}
.pricelist table td.graybg{background:#f6f6f6}
.pricelist table td.darkgraybg{background:#ebebeb}
.paddTbt{padding:10px 0 20px 0}
.professtion{color:#808080;font-size:14px;margin-left:8px;overflow:hidden;line-height:24px}
.professtion h3.heading2{font-size:18px;line-height:30px;color:#000;border-bottom:1px dashed #89bc23;margin-bottom:10px}
.professtion .professtiondiv{width:100%;padding-top:14px}
.professtiondiv .frams2{background:url(../images/frame_img.jpg) 0 0 no-repeat;display:block;width:130px;height:162px;padding-top:8px;text-align:center}
.professtiondiv .profdecps{width:460px;line-height:24px}
ul.tabs{margin-bottom:14px;overflow:hidden}
ul.tabs li{display:inline;float:left;background:#ECECEC;color:#000;height:30px;font-size:12px;line-height:30px;border-right:2px solid #fff;padding:0 8px}
ul.tabs li.active{background:#89bc23;color:#fff;font-weight:bold}
.paymentype{width:100%;padding-top:10px}
ul.list3 li{width:100%;padding-bottom:10px;margin-bottom:10px;display:block;clear:both;float:left;overflow:hidden;}
ul.list3 li .slectpay{width:50px;padding-top:10px;text-align:center}
ul.list3 li .paymentdecp{width:520px;line-height:22px;font-size:14px}
h3.Heading{font-size:18px;line-height:30px;color:#000;border-bottom:1px dashed #89bc23;margin-bottom:10px}

.contentdiv{margin-left:14px;overflow:hidden}
.contentdiv .decption{width:100%;text-align:justify;line-height:22px;color:#808080;margin-bottom:12px}
.winning_photo{font-size:14px}
.top_img{border:1px solid #ccc;padding:3px;float:left;list-style:none}
.mrg_rit{margin-right:60px}
.text03{font-size:16px;padding:16px 0}
.imagesbv{}
.imagesbv .img{margin-bottom:10px;margin-right:28px;list-style:none}
.imagesbv .mrgn_rit{margin-right:0}
.imagesbv img{border:1px solid #ccc}
.vote{width:500px;margin:0 auto}
.vote .voted_img{border:1px solid #ccc;padding:3px;text-align:center; width:350px}
.add_test{padding:10px}
.add_test .login-box label{text-align:left;width:180px;line-height:20px}
.add_test .login-box li{padding-bottom:5px}
.Examples{width:400px}
.Examples li{float:left;clear:both;border-bottom:1px solid #ccc;width:100%}
.Examples li a{padding:7px 0 7px 25px;font-weight:bold;color:#000;font-size:14px;display:block;float:left;background:url(../images/icon6.gif) 0 9px no-repeat;}
.right_col{width:482px;padding:10px;border:1px solid #ccc}
.right_col2{padding:10px;border:1px solid #ccc;margin:0 0 15px 15px}
.how_works{width:930px}
.how_works li{padding-bottom:15px;float:left;width:100%}
.how_works li p{padding-left:55px;padding-bottom:10px;overflow:hidden}
.how_works a{color:#89bc23;font-size:20px}
.how_works a.one, .how_works a.two, .how_works a.three{padding-left:55px;display:block;float:left;font-weight:bold;font-size:16px;width:70px;height:50px;line-height:50px}
.how_works a.one:hover, .how_works a.two:hover, .how_works a.three:hover{text-decoration:none}
.how_works .one{background:url(../images/one.png) 0 center no-repeat;width:55px;height:50px}
.how_works .two{background:url(../images/two.png) 0 center no-repeat;width:55px;height:50px}
.how_works .three{background:url(../images/three.png) 0 center no-repeat;width:55px;height:50px}
a.getstarted{background:url(../images/Get_Started.png) 0 0px no-repeat;display:block;height:42px;font:normal 21px Arial, Helvetica, sans-serif;color:#fff;line-height:42px;padding-left:26px;cursor:pointer;float:left;width:162px;line-height:44px}
.left_opt li{float:left;clear:both;width:150px}
.left_opt li a:hover, .left_opt li a.active{background:#D6F499}
.left_opt li a{color:#8b8989;font-weight:bold;display:block;padding:5px 0 5px 5px;margin-right:5px;font-size:14px;margin-bottom:2px}
.profile{border:1px solid #ccc;padding:10px;width:755px;min-height:160px}
.profile label{font-weight:bold;font-size:14px;width:46px;float:left}
.profile .imgdv01{border:1px solid #ccc;padding:3px;margin-right:15px}
.profile .info p{padding-bottom:10px}
.profile th, .profile td{border-bottom:1px solid #000;color:#000;text-align:left;height:30px;line-height:30px}
.profile .input{border:1px solid #ccc;background:#FFFFFF;margin-bottom:5px;margin-top:3px;width:180px;}
.text04{padding-top:12px;float:left}
div.error{color:#FF0000;margin-top:2px;padding-left:0;width:auto}
h1{font-size:180%;font-weight:normal;color:#555}
h2{clear:both;font-size:160%;font-weight:normal;color:#555;margin:0;padding:.5em 0}
a{text-decoration:none;color:#89BC23}
pre{display:block;font:100% "Courier New", Courier, monospace;padding:10px;border:1px solid #bae2f0;background:#e3f4f9;margin:.5em 0;overflow:auto;width:800px}
#preview{position:absolute;border:1px solid #ccc;background:#333;padding:5px;display:none;color:#fff}
.frame01{display:block;width:269px;min-height:176px;margin:0 15px 0 0;text-align:center;padding-top:3px}
.frame01 img{padding:2px}
.title01{font:normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif;color:#89bc23;padding-bottom:10px}
.retouching{width:660px}
.top6, .top6 div, .end6, .end6 div{background:url(../images/box_.png) 0 0 no-repeat}
.top6{background-position:0 -54px;padding-left:7px;height:47px}
.top6 div{background-position:100% 0px;height:47px}
.end6{background-position:0 -101px;padding-left:7px;}
.end6 div{background-position:100% -47px}
.bg6{background:#fff url(../images/midbg.gif) 0 100% repeat-x;border:1px solid #89bc23;border-width:0 1px}
.right_box{width:250px}

.description3{margin:0 auto;margin-left:17px;margin-top:34px;line-height:19px;padding-right:10px}
.choose_{height:40px;font:normal 18px Arial, Helvetica, sans-serif;color:#fff;line-height:40px;padding:10px 5px 5px 5px;cursor:pointer;float:left;width:189px;border:none;margin-right:20px}
.choose_bg{background:url(../images/sprite.png) 0 -188px no-repeat;height:30px;font:normal 18px Arial, Helvetica, sans-serif;color:#fff;line-height:34px;padding:2px 10px 5px;cursor:pointer;float:left;width:189px;border:none;margin-right:20px;position:relative;z-index:1000}
.choose_bg .drop_dn{position:absolute;top:36px;left:9px;z-index:100;display:none;background:#fff;border:1px solid #89BC23;width:171px}
.choose_bg .drop_dn a{color:#89BC23;display:block;padding:0;height:20px;line-height:20px;padding-left:5px;font-size:14px}
.choose_bg .drop_dn a:hover{background:#89BC23;color:#fff}
.jquery-selectbox{position:relative;height:37px;width:186px !important;z-index:0;float:left;display:inline;font-size:12px;font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;color:#444;padding:0;background:url(../images/selectbg.png) 0 0 no-repeat}
.jquery-selectbox.selecthover{border-color:#9F7627;background-color:#FFFCDF;z-index:700}
.jquery-selectbox .jquery-selectbox-currentItem{padding:8px 0 0 13px;white-space:nowrap;display:block;overflow:hidden;font:normal 18px Arial, Helvetica, sans-serif;color:#fff;}
.jquery-selectbox .jquery-selectbox-list{position:absolute;top:36px;left:8px;background:#ffffff;overflow:hidden;z-index:1000000;border:1px solid #89BC23}
.jquery-selectbox .jquery-selectbox-moreButton{float:right;background:url(../images/selectbg.png) 100% 0 no-repeat;width:21px;height:37px;cursor:pointer;margin-right:-2px}
.jquery-selectbox .jquery-selectbox-moreButton.morebuttonhover{}
.jquery-selectbox .jquery-selectbox-item.listelementhover{background:#89BC23;color:#fff}
.jquery-selectbox .jquery-selectbox-item{display:block;cursor:pointer;background:#D6F499;font:normal 18px Arial, Helvetica, sans-serif;color:#89BC23;padding-left:6px}
.choose_{margin:42px 10px 0 0}
ul.slideshow li{position:absolute;top:0px;left:0px;display:block;width:454px;}
.rating1{background:url(../images/transparantbg.png) 0 -58px no-repeat;padding-left:10px}
.rating1 div.inner{background:url(../images/transparantbg.png) 100% 0 no-repeat;height:40px}
.rating1 div.inner label{padding-top:13px}
.sliderdv{height:399px;padding-bottom:43px;overflow:visible;position:relative;z-index:10}
.choose_btn{padding-top:50px;padding-right:25px}
.top_images{position:relative;top:0;left:0}
.frame02{background:url(../images/Negative_frame30.png) 0 0 no-repeat;width:216px;height:240px;margin-right:70px}
.frame02 a{display:block}
.top_images .idbox{position:absolute;width:180px;height:120px;top:0;left:0}
.igallery li.images{float:left;display:inline;margin-right:0px}
ul.igallery{padding-left:17px}
.igallery li.mrgn_rit{margin-right:0}
.subcatTxt{padding-top:10px;width:199px}
.photoDetails ul.subcat{padding:5px 0;background:#ECECEC}
.photoDetails .subcat li{list-style:none;padding:0 0 0 10px;background:none}
ul.winner_photo{overflow:hidden;padding-left:30px}
.winner_photo .photos img{border:1px solid #ccc;padding:5px}
.winner_photo li{display:inline;float:left;margin-right:30px}
.winner_photo li.mrgn_rit{margin-right:0}
.title a{color:#89BC23;display:block}
.scrolbox{height:341px;overflow:hidden}
.scrolbox:hover{overflow:auto}
.win_frame{background:url(../images/winner_frame04.png) 0 0 no-repeat;width:270px;height:220px}
.win_frame2{background:url(../images/winner_frame05.png) 0 0 no-repeat;width:270px;height:270px}
.scrollbox{width:299px}
.padone{padding:10px}
.nextbg{color:#89BC23;font-size:16px;font-weight:bold}
.nextbg:hover{text-decoration:underline}
.title02{color:#89BC23;font-size:22px;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-weight:normal;padding-bottom:5px}
.title02 .text05{color:#666666}
.title02 .text06{color:#999999}
.imag_dv{margin-right:15px;padding-left:12px}
.servises{padding:0px 10px 0px 0;overflow:hidden}
.servises p{padding-bottom:5px}
.colm_one{border-right:1px solid #ccc;padding:10px 10px 10px 0;}
a.link{color:#89BC23}
a.link:hover{text-decoration:underline}
.brdr_none{border:none}
.price{width:310px}
.price .getstarted{margin-left:40px}
.heading01{color:#89BC23;text-align:center;padding-bottom:10px;font-size:20px;font-weight:normal}
.price .listing .lable02{width:80px;float:left;font-weight:bold}
.price .listing li{padding:8px 0 0px 5px;}
.illust .how_works{padding:5px 0 0 4px;margin-bottom:8px}
.illust .how_works img{padding:0}
.steps{padding:7px 10px 0 10px}
.steps .steplist p{height:34px}
.steps a{clear:both;font-weight:bold;font-size:14px}
.steps .one1{background:url(../images/one1.png) 0 0 no-repeat;padding:7px 0 5px 35px;color:#89BC23}
.steps .two1{background:url(../images/two1.png) 0 0 no-repeat;padding:7px 0 5px 35px;color:#89BC23}
.steps .three1{background:url(../images/three1.png) 0 0 no-repeat;padding:7px 0 5px 35px;color:#89BC23}
.text07{padding:6px 0 0 5px}
.text07 a{color:#89BC23;font-weight:normal}
.frame5{background:url(../images/Negative_frame34.png) no-repeat 0 0;width:195px;height:95px;margin:9px 0 0 50px;text-align:center}
.pad_rit{padding-right:10px}
.pricing .datialprice01{width:auto}
.bullet{background:url(../images/arrow_.png) 6px 11px no-repeat;display:block;padding-left:20px}
.margn_{margin:40px 0 0 0}
.textare02{width:948px;height:66px}
.title03{padding:3px 0 3px 0px;color:#89BC23;font-size:13px;font-weight:normal}
.green_txt{color:#89BC23}
.servic_box{width:593px}
.bid_arrow{background:url(../images/arrow3.png) no-repeat 0 0;width:100px;height:100px;float:left;margin-top:20px}
.sharebtn{padding:10px 0 10px 23px;overflow:hidden}
.pad_btm{padding-bottom:5px}
.question{top:0;left:0;padding-left:5px}
.question:hover > .tooltip{display:block}
.question:hover > .tooltip1{display:block}
.tooltip{position:absolute;top:15px;right:15px;width:300px;background:#fff;border:1px solid #89BC23;padding:3px;display:none;z-index:1000;line-height:25px}
.tooltip1{position:absolute;top:-15px;left:23px;width:430px;background:#fff;border:1px solid #89BC23;padding:3px;display:none}
.sharebtn{width:68px;float:left;padding:6px 14px;background:url(../images/share_btn.png) 0px 3px no-repeat;margin:0 0 0 38px}
.sharebtn a{background:url(../images/icon-addthis.gif) no-repeat 1px 3px;display:block;width:50px;padding-bottom:2px;color:#fff;padding-left:8px}
.left_col{width:360px;float:right;position:relative}
.change_pass label{margin-right:12px}
.add_cart td, .add_cart th{padding:5px 0;border:none}
.payment_pg label{font-size:14px;width:135px;margin-right:10px}
.payment_pg td{padding:5px 0}
.payment_pg .input77{background:#FFFFFF;border:1px solid #CCCCCC;margin-bottom:5px;margin-top:3px;width:180px;padding:2px}
.payment_pg .select01{background:#FFFFFF;border:1px solid #CCCCCC;width:182px;padding:2px}
.border_box{border:1px solid #CCCCCC;padding:10px}
.contact_us .input01{width:350px}
.pad_rit2{padding-right:30px}
.see_more{padding:10px 0}
a.linh02{font-size:14px}
.pad_top3{padding-top:17px}
.testmon{border-bottom:1px dotted #aeb5a0;height:345px;overflow:hidden}
.mounths{font-size:24px;color:#89BC23}
.innebox{border-bottom:1px solid #ccc;padding-left:12px}
.price01{width:318px;position:absolute;top:0;right:0}
.fan_logo{position:relative;top:0;left:0;height:57px}
.fan_logo img{position:absolute;right:18px;top:-14px}
ul.pag_left{padding-left:25px}
.Affiliate label{width:190px}
.illust .scrollbox .frame{background:none}
.top7, .top7 div, .end7, .end7 div{background:url(../images/frame.gif) 0 0 no-repeat}
.top7{background-position:0 0;padding-left:6px;height:7px}
.top7 div{background-position:100% 0px;height:7px}
.end7{background-position:0 -199px;padding-left:6px;}
.end7 div{background-position:100% -199px}
.bg7{border:solid #dedede;border-width:0 4px;overflow:hidden}
.home_boxes .illust{background:url(../images/box_bg.png) no-repeat 0 0;height:420px}
.face_book{border:1px solid #ccc;float:left}
.mrg_left{margin:0 0 5px 25px;}
.frame03 a{float:none;text-align:center}
.image_list td{width:20%;vertical-align:middle;padding:10px 5px;border-bottom:1px solid #ccc}
.face_bookout{background:url(../images/facebook_icon.png) no-repeat 0 center;padding:0 0 7px 36px;overflow:hidden;margin-left:5px}
.twetout{background:url(../images/twitter_icon.png) no-repeat 0 center;padding:0 0 7px 36px;overflow:hidden;margin-left:5px}
.blog_icon{background:url(../images/wordpress.png) no-repeat 0 center;padding:0 0 3px 28px;overflow:hidden;margin-left:5px}
.frame02 td{vertical-align:middle}
.igallery02{padding-left:70px}
.serviceOptionsGroup input{margin-right:5px}
.serviceOptions01 li{padding-left:15px}
ul.serviceOptions01{background-color:#dceabd;border:solid #adadad;border-width:0px 1px 0px 1px;}
.login-box .recaptcha_input_area_text{float:none}
.top_txt{line-height:12px;padding:0;margin:0;text-align:left;font-size:12px;padding:0 0 5px 5px}
.imagedv img{border:1px solid #ccc}
.last_order td{border-bottom:1px solid #ccc;padding:10px}
.txtarea{border:1px solid #ccc;padding:4px}
.paymetsys li{float:left;padding:4px;line-height:31px;width:100%}
ul.paymetsys{width:455px;margin:0 auto}
.textcon *{line-height:20px}
.textcon b{line-height:36px;font-size:16px}
.textcon a:hover span{text-decoration:none!important}
.textcon ol li{margin-left:35px!important}
.clik_here{color:#89BC23;float:left;font-weight:bold;padding:5px 0 0 13px}
.textare03{border:1px solid #ccc;padding:5px;overflow:auto}
.site_map{width:203px;float:left;padding:20px 10px 0 0;margin-left:20px}
.main_place{padding-left:15px;background:url(../images/big-arrow_site.gif) no-repeat 0 7px;font-size:14px;color:#333;margin-bottom:6px}
.sud_place{padding-left:25px;background:url(../images/arrow_site.gif) no-repeat 14px 7px;color:#000;margin-bottom:5px}
.error{color:red}
.main_place a{color:#000}
.mar_top{margin-top:87px}
.mar_btm{margin-bottom:20px}
.wid{width:145px;}
.watermark1{background:url(../images/lwaterm2.png) center center no-repeat;overflow:hidden;display:block;position:relative;}
.watermark1 img.blank{width:100%;height:100%;display:block;position:absolute;left:0;top:0;}
.watermark2{background:url(../images/waters.png) center center no-repeat;width:130px;overflow:hidden;margin:0 45px;display:block;position:relative;}
.watermark2 img.blank{width:100%;height:100%;display:block;position:absolute;left:0;top:0;}
.watermark3{background:url(../images/water4.png) center center no-repeat;overflow:hidden;margin:0 45px;display:block;position:relative;}
.watermark3 img.blank{width:100%;height:100%;display:block;position:absolute;left:0;top:0;}
.top2txt{background:url(../images/inner_box.png) 0 -86px no-repeat;padding-left:15px}
.top2txt div{background:url(../images/inner_box.png) 100% -62px no-repeat;height:14px;}
.end2txt{background:url(../images/inner_box.png) 0 -98px no-repeat;padding-left:15px}
.end2txt div{background:url(../images/inner_box.png) 100% -74px no-repeat;height:14px;}
.mid2txt{background:#fff;border-left:1px solid #89BC23;border-right:1px solid #89bc23;padding:0 10px}
.button01{background:url(../images/button2.png) 0 -101px no-repeat;padding-left:8px;float:left}
.button01 input{background:url(../images/button2.png) 100% -65px no-repeat;border:none;color:#fff;font-weight:bold;font-size:15px;height:36px;padding:0 8px 0 0;cursor:pointer;}
.ch_crny_one{background:url(../images/one1.png) 0 6px no-repeat;padding-left:40px;height:30px;margin:8px 0}
.adult_two{background:url(../images/two1.png) 0 2px no-repeat;padding-left:40px;height:30px;margin:8px 0}
.brws_three{background:url(../images/three1.png) 0 0 no-repeat;padding-left:40px;height:30px;margin:8px 0}
.txtg{color:#89BC23}
.rdesc{width:375px;float:left;padding:10px;margin-top:17px}
.choose_bg02{background:url(../images/choose_srv.png) 0 -1px no-repeat;height:42px;font:normal 18px Arial, Helvetica, sans-serif;color:#fff;line-height:34px;padding:2px 10px 5px;cursor:pointer;float:left;width:189px;border:none;margin-right:20px;position:relative;z-index:1000}
.choose_bg02 .drop_dn{position:absolute;top:36px;left:9px;z-index:100;display:none;background:#fff;border:1px solid #89BC23;width:171px}
.choose_bg02 .drop_dn a{color:#89BC23;display:block;padding:0;height:20px;line-height:20px;padding-left:5px;font-size:14px}
.choose_bg02 .drop_dn a:hover{background:#89BC23;color:#fff}
.iner_page h2 a.backlink{text-transform:capitalize;font-size:14px;position:relative;right:10px;bottom:20px}
/* uploadify.css*/
.uploadifyQueueItem{font:11px Verdana, Geneva, sans-serif;border:2px solid #E5E5E5;background-color:#F5F5F5;margin-top:5px;padding:10px;width:350px;}
.uploadifyError{border:2px solid #FBCBBC !important;background-color:#FDE5DD !important;}
.uploadifyQueueItem .cancel{float:right;}
.uploadifyProgress{background-color:#FFFFFF;border-top:1px solid #808080;border-left:1px solid #808080;border-right:1px solid #C5C5C5;border-bottom:1px solid #C5C5C5;margin-top:10px;width:100%;}
.uploadifyProgressBar{background-color:#0099FF;width:1px;height:3px;}
/* js/lightbox-jquery/css/ */
#jquery-overlay {
	position:absolute;
	top:0;
	left:0;
	z-index:1000;
	width:100%;
	height:500px;
}
#jquery-lightbox {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:1000;
	text-align:center;
	line-height:0;
}
#jquery-lightbox a img {
	border:none;
}
#lightbox-container-image-box {
	position:relative;
	background-color:#fff;
	width:250px;
	height:250px;
	margin:0 auto;
}
#lightbox-container-image {
	padding:10px;
}
#lightbox-loading {
	position:absolute;
	top:40%;
	left:0%;
	height:25%;
	width:100%;
	text-align:center;
	line-height:0;
}
#lightbox-nav {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:10;
}
#lightbox-container-image-box > #lightbox-nav {
	left:0;
}
#lightbox-nav a {
	outline:none;
}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width:49%;
	height:100%;
	display:block;
}
#lightbox-nav-btnPrev {
	left:0;
	float:left;
}
#lightbox-nav-btnNext {
	right:0;
	float:right;
}
#lightbox-container-image-data-box {
	font:10px Verdana, Helvetica, sans-serif;
	background-color:#fff;
	margin:0 auto;
	line-height:1.4em;
	overflow:auto;
	width:100%;
	padding:0 10px 0;
}
#lightbox-container-image-data {
	padding:0 10px;
	color:#666;
}
#lightbox-container-image-data #lightbox-image-details {
	width:70%;
	float:left;
	text-align:left;
}
#lightbox-image-details-caption {
	font-weight:bold;
}
#lightbox-image-details-currentNumber {
	display:block;
	clear:left;
	padding-bottom:1.0em;
}
#lightbox-secNav-btnClose {
	width:66px;
	float:right;
	padding-bottom:0.7em;
}
/* slideshow */
.slideshow-container{}
ul.slideshow{width:497px!important}
ul.slideshow li{display:none;;width:auto!important;height:auto!important;overflow:hidden;float:right;bottom:0!important;right:0!important}
ul.slideshow li.startSlide{display:list-item;}
.slideshow-container img{display:block;position:absolute;bottom:0;right:0;border:3px solid #B4B4B4;}
.slideshow-container .slideshow li div{font-style:italic;float:left}
.slideshow-text-container{float:left;width:284px;}
.slideshow-container .slideshow-pager{z-index:200;padding:12px 10px 10px 10px;}
.slideshow-container .slideshow-pager a{float:left;width:25px;height:20px;text-indent:-1000em;text-decoration:none;outline:none;}
.slideshow-container p.caption{background:#fcfaf9;border:1px solid #FFFFFF;bottom:-15px;max-width:600px;padding:11px 10px 10px 10px;position:absolute;right:0;z-index:200;}
.slideshow-container p.caption a{float:none;font-weight:bold;height:auto;text-decoration:none;width:auto;}
.slideshow-container p.caption a:hover{text-decoration:underline;}
.slideshow-type-large{width:481px;height:370px;margin-left:10px;margin-top:25px}
:first-child+html ul.slideshow li{height:370px!important}
.slideshow-type-small{width:300px;height:200px;}
.hgt{height:20px}
.bg6 p.msg_01{font-size:16px; font-weight:bold; padding-bottom:12px; line-height:18px; text-align:center; color:#89BC23}