body
{
    line-height: 1;
    background: #f4f4f2;
    font-family: "helvetica neue" ,Helvetica,Arial,Verdana,sans-serif;
    font-size: 1.2em;
    line-height: 20px;
    color: #666;
    min-width: 1003px;
    margin: 0;
}
