.cpHeader
{
    color: white;
    background-color: #003300;
    font: bold 11px auto "Trebuchet MS" , Verdana;
    font-size: 12px;
    cursor: pointer;
    width: 1000px;
    height: 18px;
    padding: 4px;
}
.cpBody
{
    background-color: #CDE2AF;
    font: normal 11px auto Verdana, Arial;
    border: 1px gray;
    width: 1000px;
    padding: 4px;
    padding-top: 7px;
}
