.Heading
{
    font-family: Calibri;
    font-weight: bold;
    font-size: 20px;
    color: #800000;
}
.SubHeading
{
    font-family: Calibri;
    font-size: 17px;
    font-weight: bold;
    color: #000000;
}
.subHeadingcontent
{
    font-size: 16px;
    font-family: Calibri;
}